extends layout.pug

block content
  section#about.other-content
    h2 О проекте
    p
      | DZENFIN — онлайн инструмент, для контроля домашних расходов методом конвертов.
    p
      | Миссия проекта DZENFIN — сделать составление и контроль семейного бюджета максимально эффективным.
    p
      | DZENFIN это другой взгляд на контроль домашних финансов. Важно не какой у Вас доход, а сколько Вам вообще надо средств.
