extends layout.pug

block content
  section#contacts-content.other-content
    h2 Контакты
    p
      | Обязательно присылайте отзывы, предложения и пожелания на мой адрес:
      address
        a(href='mailto:vgsnv@yandex.ru') vgsnv@yandex.ru