extends layout.pug

block content
  section#forBeginners-content.other-content
    h2 Как вести семейный бюджет правильно
    h3 Планируйте бюджет на определенный срок
    p
      | Как решить большую сложную задачу? Проще всего, разбить ее на мелкие этапы и проконтролировать исполнение каждого шага в отдельности. То же самое можно сделать и с домашней бухгалтерией. Нужно создать отдельные бюджеты и контролировать их выполнение. Удобно когда эти бюджеты приходятся на календарный месяц.
    p
      | С 1-го числа месяца бюджет открывается, с последним закрывается. Всё что не было потрачено за это время, можно отложить к себе в финансовую подушку.
    p
      | Имея бюджет на определенный срок, вы вносите порядок не только в финансовую сторону вопроса, но и в ход происходящих с вами событий.
    h3 Постарайтесь заранее выделить деньги на предстоящий бюджет
    p
      | Перед началом выполнения бюджета хорошо бы уже иметь средства для его выполнения. Это означает, что если у вас доход в семью приходит например 10-го числа каждого месяца, то его стоит отложить и не трогать до 1-го числа следующего месяца.
    p
      | Таким образом, вы перестанете жить от зарплаты до зарплаты, и сможете контролировать ваши финансы, а в качестве бонуса у вас появится пространство для маневра.
    h3 Всегда имейте категорию на непредвиденные расходы
    p Любой план, если в нем нет возможности для покрытия издержек, обречен на провал.
    p
      | Постарайтесь всегда иметь в своем бюджете категорию на неопределенные заранее расходы. Т.е того, чего вы заранее знать не можете.
    p Решить это можно легко, просто верстайте бюджет с профицитом.
    h3 Относитесь к бюджету легко, не обязательно вводить все расходы до копейки
    p
      | Бюджет, план, это всего лишь набросок того, что вы собираетесь сделать. И не всегда будет удаваться соответствовать ему до копейки, и это нормально.
    p
      | Главное сохранить стратегическое видение своих финансов - на что еще есть деньги, а на что они уже израсходованы.
    h3 Правильно понимайте свои категории
    p Очень часто трудность представляет сама классификация  расходов в бюджете.
    p Вот несколько правил от опытного "бюджетовода":
    ul
      li
        p
          | Категорий не должно быть много, они не должны представлять вложенный список со сложной структурой. Удобно когда их не более 15 штук и все они на виду. Малое количество всегда проще контролировать.
      li
        p Траты на еду это не всегда продукты.
        p
          | К примеру, в выходные вы сходили с детьми городской парк и съели там мороженное. Это трата из категории "Развлечения", а не "Продукты". Или, например, в будние дни, на работе, вы ходите на обеды в местную кафешку, это тоже не продукты. Тут лучше бы создать категорию "обеды вне дома". Т.е определяйте свои траты по категориям согласно здравому смыслу.
    h3 Запомните, ваш бюджет не обязан быть равен вашему доходу
    p
      | Ну и напоследок, имейте в виду, что вам не обязательно расписывать весь свой доход.
      | Гораздо целесообразнее в качестве суммы бюджета на следующий месяц указать некий психологический рубеж вашей комфортной жизни, и уже его подробно расписать в нашей программе.
