extends layout.pug

block content
  section#howto.other-content
    h2 Как это работает, и почему мы сделали его таким? 
    #howto-image-manyservices.other-content-image
      img#howto-image-manyservices.landing-image-img(src='img/manyservices.png', alt='')
    p
      | Существует множество сервисов для управления личными финансами. Зачем же мы разработали еще один?
    p
      | Прежде чем обозначить его преимущества, давайте разберемся, как устроено большинство подобных систем.
    h3 Сервисы для управления финансами
    p Стандартная схема включает:
    ul
      li создание счета
      li указание категорий расходов
      li введение данных о доходах
      li учет расходов
      li учет переводов между счетами
    p
      | В идеале все эти операции должны давать нам статистику транзакций и информацию о состоянии счетов – иными словами, ответ на вопрос, куда же ушли наши личные средства. Однако на практике такой подход нередко оказывается сложным и трудоемким, а ответ – в общем-то, известным и до начала ведения домашней бухгалтерии. Использование подобных сервисов попросту не оправдывает себя.
    h3 Метод конвертов
    p
      | Но есть и другой взгляд на управление личными финансами. Прежде всего следует определиться с целью: для чего нам это нужно? Основная задача управления – рациональное распределение доходов и формирование сбережений. В этом отношении отлично зарекомендовал себя метод конвертов.
    p
      | Перед началом нового расходного месяца все наличные средства распределяются по конвертам в соответствии с категориями трат. Таким образом вы действительно контролируете свои финансы: деньги расходуются строго по назначению, и вы всегда точно знаете, сколько еще можете потратить. В то же время это не жесткая стратегия – ее можно менять, включая режим экономии или перераспределяя средства в зависимости от приоритетов.
    h3 Преимущества наглядности
    p
      | Такой учет можно вести и в обычной тетради, а деньги хранить на карточке. Суть метода остается прежней.
    p
      | Для наглядности можно выделить для каждой категории область с определенным количеством клеток и закрашивать их по мере расходования средств. Разумеется, лучше использовать масштаб (например, 1 клетка = 100 рублей). Соотношение свободных и закрашенных клеток дает четкое представление о динамике расходов и имеющихся ресурсах.
    p
      | Наглядность этого метода позволяет придерживаться намеченного плана и быстро принимать правильное решение о той или иной покупке, планировать будущее и не беспокоиться о расходах, зная, что они всегда под контролем.
    h3 Dzenfin: два в одном
    p
      | Изучив особенности разных подходов, мы пришли к выводу, что их главные элементы можно объединить. С этой целью и был создан онлайн-сервис dzenfin.ru. Используя dzenfin, вы получаете все преимущества метода конвертов и удобство онлайн-сервиса. Полный функционал dzenfin доступен с любого устройства.
